img {
    float: left;
}
#clear {
    clear: left;
}
#margin {
    margin-top: 70px;
    margin-left: 320px;
}
.div1 {
    border-bottom: solid;
    border-top: solid;
    padding: 2px;
}
#div2 {
    border-top: solid;
}
